:root {
  /* general colors */
  --light-color: black;
  --dark-color: white;
  --light-primary-background-color: white;
  --dark-primary-background-color: black;
  /* end general colors */

  /* navbar */

  /* light color scheme */
  --light-background-color-navbar: #f5f6f7;

  /* dark color scheme */
  --dark-background-color-navbar: black;

  /* end navbar colors*/

  /* sections */

  /* light color scheme */
  --light-background-color-primary-section: #1b1b32;
  --light-background-color-secondary-section: white;

  /* dark color scheme */
  --dark-background-color-primary-section: black;
  --dark-background-color-secondary-section: indigo;

  /* end sections colors */
}

.dark-color-scheme .general-background-color {
  background-color: var(--dark-primary-background-color);
}

.dark-color-scheme nav.navbar {
  background-color: var(--dark-primary-background-color);
}
.dark-color-scheme button.navbar-toggler {
  border-color: var(--dark-color);
}

.dark-color-scheme nav.navbar li.nav-item > a.nav-link {
  color: var(--dark-color);
}

.dark-color-scheme .primary-section {
  color: var(--dark-color);
}

.dark-color-scheme .secondary-section {
  color: white;
}

.dark-color-scheme .presentation-container {
  background-color: var(--dark-background-color-presentation);
  color: var(--dark-color);

  background-image: linear-gradient(to bottom, #000000, #040404, #080807, #0c0c0b, #0F0F0E);
}

.dark-color-scheme .sobre-mi {
  background-image: linear-gradient(to top, #000000, #040404, #080807, #0c0c0b, #0F0F0E);
}

.dark-color-scheme .experiencia {
background-image: linear-gradient(to bottom, #000000, #0e0005, #17000c, #1c0014, #1f001b);
}

.dark-color-scheme .recent-projects-section{
background-image: linear-gradient(to top, #000000, #0e0005, #17000c, #1c0014, #1f001b);
}

.dark-color-scheme #profile-photo {
  filter: drop-shadow(10px 10px 15px #643b47);
}
